<div>
    <div class="footer">
      <div class="container-fluid">
        <div class="w-row">
          <div class="column-10 w-col w-col-6">
            <div class="div-block-3"><a href="#" class="w-inline-block"><img src="assets/images/logo.png" width="193"
                  alt="One HR logo"></a>
              <div class="top-margin">
                <p class="paragraph">Harmonizing the UN System through a new generation of HR Solutions</p>
              </div>
              <div class="line-divider-footer"></div>
              <div>
                <p class="paragraph not-block">Get in touch</p>
                <p class="paragraph not-block margin"><a href="mailto:info.onehr@un.org" class="link-2"><strong
                      class="bold-text-2">info@onehr.un.org</strong></a></p>
              </div>
            </div>
          </div>
          <div class="column-8 w-col w-col-4">
            <div class="div-block-4"><a href="http://www.undp.org/content/undp/en/home/sustainable-development-goals.html"
                class="w-inline-block"><img src="assets/images/SDG-Logo-Long.png" width="320"
                  class="image-6"></a>
              <p class="paragraph">OneHR offers advisory services for cost effective and risk-informed acquisition and
                management of talent within and across the UN System in support of the Sustainable Development Goals.</p>
            </div>
          </div>
          <div class="column-9 w-col w-col-2">
            <div>
              <ul class="unordered-list-2 footer">
                <li><a href="about-onehr.html" class="link-2 w--current">About</a></li>
                <li><a href="contact-onehr.html" class="link-2">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container-fluid">
        <div class="align-center">
          <p class="paragraph copy">© 2018 United Nations Development Programme | <a
              href="http://www.undp.org/content/undp/en/home/operations/accountability/audit/office_of_audit_andinvestigation.html"
              target="_blank" class="link-4"> Report fraud, abuse, misconduct</a> | <a
              href="http://www.undp.org/content/undp/en/home/operations/copyright_and_termsofuse.html" target="_blank"
              class="link-3">Terms of use</a></p>
        </div>
      </div>
    </div>
  </div>