<div data-collapse="medium" data-animation="default" data-duration="400" class="scroll-navigation w-nav"
  data-ix="scroll-navbar-control">
  <div class="container-fluid w-container">
    <nav role="navigation1" class="nav-menu w-nav-menu"><a routerLink="/about"
        class="nav-link no-drop dark w-nav-link w--current">About US</a>
      <div data-hover="1" data-delay="0" class="w-dropdown">
        <div class="nav-link dark w-dropdown-toggle">
          <div class="arrow-drop w-icon-dropdown-toggle"></div>
          <div>SERVICES</div>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <a routerLink="/our-services-job-classification" class="drop-link w-dropdown-link">Job classification</a>
          <a routerLink="/basic-reference-verification" class="drop-link w-dropdown-link">Basic reference
            verification package</a>
          <a href="our-services-organizational-design.html" class="drop-link w-dropdown-link">Organizational design</a>
          <a href="faq-frequently-asked-questions.html" class="drop-link w-dropdown-link">FAQ</a>
        </nav>
      </div>
      <a href="contact-onehr.html" class="nav-link no-drop dark w-nav-link">Contact</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div><a routerLink="/" class="brand w-nav-brand"><img src="assets/images/logo.png" width="193"
        alt="One HR Logo"></a>
  </div>
</div>
<!-- <div data-ix="show-nav-scroll-on-scroll " class="sub-banner"> -->
<div data-ix="show-nav-scroll-on-scroll">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar style-2 w-nav"
    data-ix="show-navbar">
    <div class="container-fluid w-container">
      <nav role="navigation2" class="nav-menu w-nav-menu"><a routerLink="/about"
          class="nav-link no-drop dark w-nav-link active_menu">About US</a>
        <div data-hover="1" data-delay="0" class="w-dropdown">
          <div class="nav-link dark w-dropdown-toggle">
            <div class="arrow-drop w-icon-dropdown-toggle"></div>
            <div>SERVICES</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <a routerLink="/our-services-job-classification" class="drop-link w-dropdown-link">Job classification</a>
            <a routerLink="/basic-reference-verification" class="drop-link w-dropdown-link">Basic reference
              verification package</a>
            <a href="our-services-organizational-design.html" class="drop-link w-dropdown-link">Organizational
              design</a>
            <a href="faq-frequently-asked-questions.html" class="drop-link w-dropdown-link">FAQ</a>
          </nav>
        </div><a href="contact-onehr.html" class="nav-link no-drop dark w-nav-link">Contact</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <a routerLink="/" class="brand w-nav-brand"><img src="assets/images/logo.png" width="193" alt="One HR logo"
          sizes="193px"></a>
    </div>
  </div>
  <!-- <div class="container-fluid center">
    <div class="align-center">
      <h1 class="heading-1 white biger">About</h1>
    </div>
  </div> -->
</div>