<div data-collapse="medium" data-animation="default" data-duration="400" class="scroll-navigation w-nav"
  data-ix="scroll-navbar-control">
  <div class="container-fluid w-container">
    <nav role="navigation" class="nav-menu w-nav-menu"><a href="about-onehr.html"
        class="nav-link no-drop dark w-nav-link w--current">About US</a>
      <div data-hover="1" data-delay="0" class="w-dropdown">
        <div class="nav-link dark w-dropdown-toggle">
          <div class="arrow-drop w-icon-dropdown-toggle"></div>
          <div>SERVICES</div>
        </div>
        <nav class="dropdown-list w-dropdown-list"><a href="our-services-job-classification.html"
            class="drop-link w-dropdown-link">Job classification</a><a
            href="our-services-basic-reference-verification.html" class="drop-link w-dropdown-link">Basic reference
            verification package</a><a href="our-services-organizational-design.html"
            class="drop-link w-dropdown-link">Organizational design</a><a href="faq-frequently-asked-questions.html"
            class="drop-link w-dropdown-link">FAQ</a></nav>
      </div><a href="contact-onehr.html" class="nav-link no-drop dark w-nav-link">Contact</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div><a href="index.html" class="brand w-nav-brand"><img src="images/GreyBlue.png" width="193" alt="One HR Logo"
        srcset="images/GreyBlue-p-500.png 500w, images/GreyBlue-p-800.png 800w, images/GreyBlue-p-1080.png 1080w, images/GreyBlue-p-1600.png 1600w, images/GreyBlue-p-2000.png 2000w, images/GreyBlue-p-2600.png 2600w, images/GreyBlue.png 4075w"
        sizes="193px"></a>
  </div>
</div>
<div data-ix="show-nav-scroll-on-scroll" class="sub-banner">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar style-2 w-nav"
    data-ix="show-navbar">
    <div class="container-fluid w-container">
      <nav role="navigation" class="nav-menu w-nav-menu"><a href="about-onehr.html"
          class="nav-link no-drop dark w-nav-link w--current">About US</a>
        <div data-hover="1" data-delay="0" class="w-dropdown">
          <div class="nav-link dark w-dropdown-toggle">
            <div class="arrow-drop w-icon-dropdown-toggle"></div>
            <div>SERVICES</div>
          </div>
          <nav class="dropdown-list w-dropdown-list"><a href="our-services-job-classification.html"
              class="drop-link w-dropdown-link">Job classification</a><a
              href="our-services-basic-reference-verification.html" class="drop-link w-dropdown-link">Basic reference
              verification package</a><a href="our-services-organizational-design.html"
              class="drop-link w-dropdown-link">Organizational design</a><a href="faq-frequently-asked-questions.html"
              class="drop-link w-dropdown-link">FAQ</a></nav>
        </div><a href="contact-onehr.html" class="nav-link no-drop dark w-nav-link">Contact</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div><a href="index.html" class="brand w-nav-brand"><img src="images/GreyBlue.png" width="193" alt="One HR logo"
          srcset="images/GreyBlue-p-500.png 500w, images/GreyBlue-p-800.png 800w, images/GreyBlue-p-1080.png 1080w, images/GreyBlue-p-1600.png 1600w, images/GreyBlue-p-2000.png 2000w, images/GreyBlue-p-2600.png 2600w, images/GreyBlue.png 4075w"
          sizes="193px"></a>
    </div>
  </div>
  <div class="container-fluid center">
    <div class="align-center">
      <h1 class="heading-1 white biger">About OneHR</h1>
    </div>
  </div>
</div>
<div [innerHtml]="html"></div>
<!-- <div class="section">
  <div class="container-fluid">
    <div class="div-block-9">
      <div class="row-11 w-row">
        <div class="column-15 w-col w-col-6 w-col-stack">
          <h1 class="heading-1"><span class="color">-</span>Who we are</h1>
          <p class="paragraph about">OneHR is a network of UN organizations working together to offer advisory services
            for cost effective and risk-informed acquisition and management of talent across the UN System. OneHR
            provides services in the areas of organization design, job classification and reference checking and
            verification. All administrative decisions remain with the client organization, within its existing
            accountability framework. The center operates through a virtual network of specialized HR professionals
            providing services under a common operational umbrella.<br><br>OneHR offers enhanced pre-screening
            functions, which will save hiring managers time and standardize the processes around classification and
            reference checking. Consolidating knowledge assets across the UN system will dramatically improve the
            quality of job design and evaluation, and, expedite these processes for HR professionals. Consolidating
            reference verification history of personnel working in the UN system reduces duplication of efforts across
            the system and ensures systemwide adherence to new UN standards. These improvements will better support the
            UN’s effort to attract a truly diverse workforce, to attract the highest quality candidates, and deliver on
            the promise of gender parity.<br></p>
        </div>
        <div class="column-16 w-col w-col-6 w-col-stack">
          <div class="container-8 centered pow w-container">
            <a href="#" class="video-lightbox pow w-inline-block w-lightbox">
              <div class="video-lightbox-block about-us">
                <div class="video-lightbox-overlay">
                  <div class="video-lightbox-button line"><img
                      src="https://uploads-ssl.webflow.com/5b33f0d621d4b375fc418bb7/5b33f0d721d4b357c1418c5c_Icon-play-white.png"
                      class="video-lightbox-icon"></div>
                </div>
              </div>
              <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "video",
      "originalUrl": "https://www.youtube.com/watch?v=miZhFFY5Mc0&autoplay=true",
      "url": "https://www.youtube.com/watch?v=miZhFFY5Mc0&autoplay=true",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FmiZhFFY5Mc0%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DmiZhFFY5Mc0&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FmiZhFFY5Mc0%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "thumbnailUrl": "https://i.ytimg.com/vi/miZhFFY5Mc0/hqdefault.jpg",
      "width": 940,
      "height": 528
    }
  ]
}</script>
            </a>
            <div class="section-title-wrapper full below-video"></div>
          </div>
        </div>
      </div>
      <p class="paragraph">The services of OneHR is made possible through the development of a first-generation case
        management tool. The OneHR information technology design team convened technical colleagues from all founding
        members of OneHR to co-design the client relationship management (CRM) solution for OneHR, including the design
        and execution of all templates, system-generated correspondence, and interfaces.<br></p><a
        href="documents/OneHR_Introduction-June-2018.pdf" class="button middle w-button">Download Brochure <br>File
        Size: 1.1 MB</a>
      <div class="line-divider"></div>
    </div>
    <div>
      <div class="div-block-10">
        <div>
          <div class="row w-row">
            <div class="w-col w-col-7">
              <div class="left-padding about-us">
                <div>
                  <h1 class="heading-1"><span class="color">-</span> Our mandate</h1>
                </div>
                <div class="top-margin">
                  <p class="paragraph">Secretary-General António Guterres has called upon the United Nations to become
                    more nimble, effective, transparent, accountable and efficient to better support its normative and
                    operational activities. The envisaged reforms will mean new ways of doing business for HR, and
                    thereby better equipping the organization to handle our complex, evolving challenges so that the UN
                    can more effectively and efficiently deliver on its global mandates.<br><br>OneHR is the first
                    initiative of its kind and forms a significant part of the UN’s corporate effort to continuously
                    offer improvements across the HR discipline, by offering consolidated services and greater
                    transparency and incubating innovative solutions.</p>
                </div>
              </div>
            </div>
            <div class="column w-col w-col-5">
              <div class="align-center"><img src="images/SG-9-200-300-official-2016.jpg" width="219"
                  alt="Photo of the Secretary General António Guterres"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="section with-image">
  <div class="container-fluid">
    <div class="div-block-8">
      <h1 class="heading-1 logos"><span class="color">-</span> Our advantage</h1>
    </div>
    <div class="row-9 w-row">
      <div class="w-col w-col-4 w-col-stack">
        <div class="service-style-4">
          <div class="center-icon"></div>
          <div>
            <div class="service-content">
              <h4 class="heading-4">Overall benefits</h4>
              <ul class="unordered-list-3">
                <li>
                  <p class="paragraph">Focus: Ability to shift existing resources to higher-value adding work and focus
                    on core business</p>
                </li>
                <li>
                  <p class="paragraph">Assurance and managing risks: Services are provided by Specialists, equipped with
                    knowledge, resources, support networks and powerful state-of-the art tools. OneHR facilities
                    adherence to new systemwide requirements (i.e. SEA)</p>
                </li>
                <li>
                  <p class="paragraph">Leverage and access: Combining our services and technical know-how allows us to
                    innovate at scale; sharing data and resources enables solutions; access to job and personnel data
                    base</p>
                </li>
                <li>
                  <p class="paragraph">Partnerships: OneHR can serve as a common interlocutor to partnering
                    organizations (i.e. Interpol)</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-stack">
        <div class="service-style-4">
          <div class="center-icon ico-2"></div>
          <div>
            <div class="service-content">
              <div class="service-content">
                <h4 class="heading-4">Job classification</h4>
                <ul class="unordered-list-4">
                  <li>
                    <p class="paragraph">Ensure adherence to the ICSC job evaluation and classification standard</p>
                  </li>
                  <li>
                    <p class="paragraph">Access to a database of generic job description</p>
                  </li>
                  <li>
                    <p class="paragraph">Promoting internal consistency of grading as well as reducing the volume of
                      classifications</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-stack">
        <div class="service-style-4">
          <div class="center-icon ico-3"></div>
          <div>
            <div class="service-content">
              <div class="service-content">
                <h4 class="heading-4">Reference verification</h4>
                <ul class="unordered-list-5">
                  <li>
                    <p class="paragraph">Access to a database of reference verification previously conducted by other
                      participating organizations; reducing recruitment timelines, strengthening the employer brand and
                      helps to identify any candidates who have previously misrepresented their qualifications to the
                      participating organizations</p>
                  </li>
                  <li>
                    <p class="paragraph">Flagging possible matches to former staff members of participating
                      organizations who had substantiated cases or allegations of sexual exploitation and abuse</p>
                  </li>
                  <li>
                    <p class="paragraph">Consistency of approach to reference verification between UN agencies</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-alone">
  <div class="container-fluid">
    <div>
      <h1 class="heading-1 logos"><span class="color">-</span>Our Journey</h1>
      <p class="paragraph"><em>We are on an historic journey to create a consolidated UN Global Center for HR Services,
          allowing us to streamline, harmonize and modernize the human resources function in the UN system. The work to
          realize the center started years ago, and since then a significant number of UN organizations have joined
          forces</em><br></p>
      <div class="process-tabs-line w-hidden-tiny"></div>
    </div>
    <div data-duration-in="300" data-duration-out="100" class="process-tabs w-tabs">
      <div class="process-tab-menu w-tab-menu">
        <a data-w-tab="Tab 1" class="process-tab-button w-inline-block w-tab-link">
          <div>March 2015</div>
        </a>
        <a data-w-tab="Tab 2" class="process-tab-button w-inline-block w-tab-link">
          <div>July<br>2016</div>
        </a>
        <a data-w-tab="Tab 3" class="process-tab-button w-inline-block w-tab-link">
          <div>February 2016</div>
        </a>
        <a data-w-tab="Tab 4" class="process-tab-button w-inline-block w-tab-link">
          <div>March 2017</div>
        </a>
        <a data-w-tab="Tab 5" class="process-tab-button w-inline-block w-tab-link">
          <div>September<br>2017</div>
        </a>
        <a data-w-tab="Tab 6" class="process-tab-button w-inline-block w-tab-link">
          <div class="text-block-7">January<br>2018</div>
        </a>
        <a data-w-tab="Tab 7" class="process-tab-button today w-inline-block w-tab-link w--current">
          <div>TODAY</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">The 30th CEB-HR network meeting agrees to explore the feasibility of
            establishing a Joint Facility for Job Classification and Reference Checking.<br></p>
        </div>
        <div data-w-tab="Tab 2" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">UNFPA, UN Secretariat and UNOPS develops four possible funding models for
            the joint activities. <br></p>
        </div>
        <div data-w-tab="Tab 3" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">UNFPA and UNDP puts forward a proposal to create a Joint Centre for
            Classification and Reference Checking at the 32nd CEB-HR Network Meeting.<br></p>
        </div>
        <div data-w-tab="Tab 4" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">Decision by HLCM to establish the Global Centre as a common UN /shared
            service center, co-located with the UNDP United Nations Volunteers (UNV) with an administrative anchor in
            Bonn, Germany.<br></p>
        </div>
        <div data-w-tab="Tab 5" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">Secretary-General calls for the UN to become more nimble, effective,
            transparent, accountable, efficient, pragmatic and decentralized to better support its normative and
            operational activities (A/72/492).<br></p>
        </div>
        <div data-w-tab="Tab 6" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">OneHR soft-launches, beginning to service clients with job classification.
            <br></p>
        </div>
        <div data-w-tab="Tab 7" class="process-tab-pane w-tab-pane w--tab-active">
          <p class="paragraph align-center">Investments in technology and automation, financial model and business
            acquisition. <br></p>
        </div>
      </div>
    </div>
    <div>
      <div class="line-divider"></div>
      <div class="div-block-9">
        <h1 class="heading-1"><span class="color">-</span>Our Governance</h1>
        <p class="paragraph">OneHR serves as a common United Nations shared service center, co-located with the UNDP
          United Nations Volunteers (UNV) on behalf of other participating organizations. The administrative anchor is
          in Bonn, Germany. Participating agencies signs a Memorandum of Understanding and a Service Level Agreement
          governing the terms and conditions under which the services are be provided by the center. The ultimate
          decision power for all matters related to the strategic direction of OneHR is held by a Steering Committee,
          comprising of Directors of Human Resources Departments from participating UN organizations and institutional
          observers. Working closely with the Steering Committee is the OneHR Client Advisory Board made up of strategic
          clients to provide input on the overall goals and services of OneHR.</p>
      </div>
    </div>
  </div>
</div>
<div class="section-alone no2">
  <div class="container-fluid">
    <div data-duration-in="300" data-duration-out="100" class="process-tabs w-tabs">
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="process-tab-pane w-tab-pane">
          <p class="paragraph">The 30th CEB-HR network meeting agrees to explore the feasibility of establishing a Joint
            Facility for Job Classification and Reference Checking.<br></p>
        </div>
        <div data-w-tab="Tab 2" class="process-tab-pane w-tab-pane">
          <p class="paragraph">UNFPA, UN Secretariat and UNOPS develops four possible funding models for the joint
            activities. <br></p>
        </div>
        <div data-w-tab="Tab 3" class="process-tab-pane w-tab-pane">
          <p class="paragraph">UNFPA and UNDP puts forward a proposal to create a Joint Centre for Classification and
            Reference Checking at the 32nd CEB-HR Network Meeting.<br></p>
        </div>
        <div data-w-tab="Tab 4" class="process-tab-pane w-tab-pane">
          <p class="paragraph">Decision by HLCM to establish the Global Centre as a common UN /shared service center,
            co-located with the UNDP United Nations Volunteers (UNV) with an administrative anchor in Bonn, Germany.<br>
          </p>
        </div>
        <div data-w-tab="Tab 5" class="process-tab-pane w-tab-pane">
          <p class="paragraph">Secretary-General calls for the UN to become more nimble, effective, transparent,
            accountable, efficient, pragmatic and decentralized to better support its normative and operational
            activities (A/72/492).<br></p>
        </div>
        <div data-w-tab="Tab 6" class="process-tab-pane w-tab-pane">
          <p class="paragraph align-center">OneHR soft-launches, beginning to service clients with job classification.
            <br></p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h1 class="heading-1 logos"><span class="color">-</span>Our Partners</h1>
        <p class="paragraph"></p>
      </div>
      <div class="div-block-7">
        <div class="row-2 w-row">
          <div class="w-col w-col-2"><a href="http://www.un.org" class="logo-wrapper w-inline-block"><img
                src="images/UN-LOGO.png" width="100" alt="un-secretariat-logo"></a></div>
          <div class="w-col w-col-2"><a href="http://www.undp.org" class="logo-wrapper w-inline-block"><img
                src="images/undplogo.png" width="43" alt="UNDP-logo"></a></div>
          <div class="w-col w-col-2"><a href="http://www.unhcr.org" class="logo-wrapper w-inline-block"><img
                src="images/unhcrlogo.png" width="90" alt="UNHCR-logo"></a></div>
          <div class="column-2 w-col w-col-2"><a href="http://www.unrwa.org" class="logo-wrapper w-inline-block"><img
                src="images/UNRWA.png" width="85" alt="UNRWA-logo"></a></div>
          <div class="w-col w-col-2"><a href="http://www.unesco.org" class="logo-wrapper w-inline-block"><img
                src="images/UNESCO.png" width="130" alt="UNESCO-logo"></a></div>
          <div class="w-col w-col-2"><a href="http://www.unfpa.org" class="logo-wrapper w-inline-block"><img
                src="images/unfpa.png" width="130" alt="UNFPA-logo"
                srcset="images/unfpa-p-500.png 500w, images/unfpa.png 539w"
                sizes="(max-width: 767px) 130px, (max-width: 991px) 14vw, 130px" class="image-2"></a></div>
        </div>
        <div class="row-2-short w-row">
          <div class="w-col w-col-4"><a href="http://www.who.org" class="logo-wrapper w-inline-block"><img
                src="images/who.png" width="83" alt="World Health Organization Logo"></a></div>
          <div class="w-col w-col-4"><a href="http://www.icao.org" class="logo-wrapper w-inline-block"><img
                src="images/icao.png" width="124" alt="UNDP-logo"></a></div>
          <div class="w-col w-col-4"><a href="http://www.isa.org.jm" class="logo-wrapper w-inline-block"><img
                src="images/isa.png" width="101" alt="UNHCR-logo"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section with-color with-map">
  <div class="container-fluid">
    <div class="div-block-14">
      <div class="container-5 w-container">
        <div class="row-4 w-row">
          <div class="column-6 w-col w-col-6">
            <div class="div-block-13">
              <h1 class="heading-1 small"><span class="color smaller">-</span>Get in touch</h1>
            </div>
          </div>
          <div class="column-7 w-col w-col-6">
            <div class="div-block-13">
              <h2 class="heading-1 smaller email"><span class="color smaller">-</span> Email us</h2>
              <h3 class="heading-2"><a href="mailto:info.onehr@un.org" class="link-5">info.onehr@un.org</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="footer">
    <div class="container-fluid">
      <div class="w-row">
        <div class="column-10 w-col w-col-6">
          <div class="div-block-3"><a href="#" class="w-inline-block"><img src="images/GreyBlue.png" width="193"
                alt="One HR logo"
                srcset="images/GreyBlue-p-500.png 500w, images/GreyBlue-p-800.png 800w, images/GreyBlue-p-1080.png 1080w, images/GreyBlue-p-1600.png 1600w, images/GreyBlue-p-2000.png 2000w, images/GreyBlue-p-2600.png 2600w, images/GreyBlue.png 4075w"
                sizes="193px"></a>
            <div class="top-margin">
              <p class="paragraph">Harmonizing the UN System through a new generation of HR Solutions</p>
            </div>
            <div class="line-divider-footer"></div>
            <div>
              <p class="paragraph not-block">Get in touch</p>
              <p class="paragraph not-block margin"><a href="mailto:info.onehr@un.org" class="link-2"><strong
                    class="bold-text-2">info@onehr.un.org</strong></a></p>
            </div>
          </div>
        </div>
        <div class="column-8 w-col w-col-4">
          <div class="div-block-4"><a href="http://www.undp.org/content/undp/en/home/sustainable-development-goals.html"
              class="w-inline-block"><img src="images/SDG-Logo-Long.png" width="320"
                srcset="images/SDG-Logo-Long-p-500.png 500w, images/SDG-Logo-Long-p-800.png 800w, images/SDG-Logo-Long.png 860w"
                sizes="(max-width: 479px) 83vw, (max-width: 767px) 320px, (max-width: 991px) 28vw, 320px"
                class="image-6"></a>
            <p class="paragraph">OneHR offers advisory services for cost effective and risk-informed acquisition and
              management of talent within and across the UN System in support of the Sustainable Development Goals.</p>
          </div>
        </div>
        <div class="column-9 w-col w-col-2">
          <div>
            <ul class="unordered-list-2 footer">
              <li><a href="about-onehr.html" class="link-2 w--current">About</a></li>
              <li><a href="contact-onehr.html" class="link-2">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-fluid">
      <div class="align-center">
        <p class="paragraph copy">© 2018 United Nations Development Programme | <a
            href="http://www.undp.org/content/undp/en/home/operations/accountability/audit/office_of_audit_andinvestigation.html"
            target="_blank" class="link-4"> Report fraud, abuse, misconduct</a> | <a
            href="http://www.undp.org/content/undp/en/home/operations/copyright_and_termsofuse.html" target="_blank"
            class="link-3">Terms of use</a></p>
      </div>
    </div>
  </div>
</div>